@page "/testgrid"
<h3>Test FluentGrid</h3>


<FluentGrid Justify="JustifyContent.FlexStart">
    <FluentGridItem md="12" xs="12"><FluentTextField Label="xs1" /> </FluentGridItem>
    <FluentGridItem Justify="JustifyContent.FlexStart">
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="10" /><FluentTextField Label="100" /></FluentGridItem>
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="11" /><FluentTextField Label="110" /></FluentGridItem>
    </FluentGridItem>
    <FluentGridItem Justify="JustifyContent.FlexStart">
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="30" /></FluentGridItem>
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="31" /></FluentGridItem>
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="32" /></FluentGridItem>
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="33" /></FluentGridItem>
    </FluentGridItem>

    <FluentGridItem Justify="JustifyContent.FlexStart">
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="40" /></FluentGridItem>
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="41" /></FluentGridItem>
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="42" /></FluentGridItem>
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="43" /></FluentGridItem>
    </FluentGridItem>
</FluentGrid>
<FluentGrid Justify="JustifyContent.FlexStart">
    <FluentGridItem md="12" xs="12"><FluentTextField Label="xs1" /> </FluentGridItem>
    <FluentGridItem Justify="JustifyContent.FlexStart">
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="10" /></FluentGridItem>  
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="11" /></FluentGridItem>
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="12" /></FluentGridItem>  
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="13" /></FluentGridItem>
    </FluentGridItem>
    <FluentGridItem Justify="JustifyContent.FlexStart">
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="30" /></FluentGridItem>
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="31" /></FluentGridItem>
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="32" /></FluentGridItem>
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="33" /></FluentGridItem>
    </FluentGridItem>

    <FluentGridItem Justify="JustifyContent.FlexStart">
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="40" /></FluentGridItem>
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="41" /></FluentGridItem>
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="42" /></FluentGridItem>
        <FluentGridItem xxl="3" lg="4" sm="6"><FluentTextField Label="43" /></FluentGridItem>
    </FluentGridItem>
</FluentGrid>
<FluentGrid Justify="JustifyContent.FlexStart">
    <FluentGridItem md="12" xs="12"><FluentTextField Label="xs1" /> </FluentGridItem>
    <FluentGridItem Justify="JustifyContent.FlexStart"  xxl="3" lg="4" sm="6">
        <FluentGridItem ><FluentTextField Label="10" /><FluentTextField Label="11" /></FluentGridItem>
        <FluentGridItem ><FluentTextField Label="12" /><FluentTextField Label="13" /></FluentGridItem>
    </FluentGridItem>
    <FluentGridItem Justify="JustifyContent.FlexStart"  xxl="3" lg="4" sm="6">
        <FluentGridItem ><FluentTextField Label="30" /></FluentGridItem>
        <FluentGridItem ><FluentTextField Label="31" /></FluentGridItem>
        <FluentGridItem ><FluentTextField Label="32" /></FluentGridItem>
        <FluentGridItem ><FluentTextField Label="33" /></FluentGridItem>
    </FluentGridItem>

    <FluentGridItem Justify="JustifyContent.FlexStart"  xxl="3" lg="4" sm="6">
        <FluentGridItem ><FluentTextField Label="40" /></FluentGridItem>
        <FluentGridItem ><FluentTextField Label="41" /></FluentGridItem>
        <FluentGridItem ><FluentTextField Label="42" /></FluentGridItem>
        <FluentGridItem ><FluentTextField Label="43" /></FluentGridItem>
    </FluentGridItem>
</FluentGrid>


@code {

}
<style>


</style>