@*
Na stronie Warehouse chcemy mieć
- możliwość listowania wszystkich itemów z przypisanymi użytkownkami,
- filtrowania (po wszystkim niemal),
- zmieniania przypisania, kategorii itp
*@

@page "/warehouse"

<h3>WarehousePage</h3>

@code {

}
