@using Application.CQRS.ITToolsCQRS.LicenceAutoStacja.Queries
@using Application.ViewModels.AutoStacja

@inject IMediator _mediator

<h3>Sprawdzenie licencji przypisanych do komputera</h3>

<EditForm EditContext="_editContextCheck">
    <DataAnnotationsValidator/>
    <FluentTextField @bind-Value="Content.PunktTelefon" Label="Nazwa komputera"></FluentTextField>
    <FluentValidationMessage For="@(() => Content.PunktTelefon)"/>
    <div>
        <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync">Sprawdź przypisanie</FluentButton>
    </div>
</EditForm>

<div>
    @if (isLoading)
    {
        <FluentProgressRing />
    }
    else
    {
        <p>Komputer: <b>@Content.PunktTelefon</b></p>
        <p>Ma przypisaną licencję: <b>@LicenceName</b></p>
    }
</div>

@code {
    private MysystemPunktVm Content { get; set; } = new MysystemPunktVm();
    private EditContext _editContextCheck;
    string LicenceName { get; set; }
    bool isValidate = false;
    bool isLoading = false;

    protected override void OnInitialized()
    {
        _editContextCheck = new EditContext(Content);
    }

    private async Task SaveAsync()
    {
        Console.WriteLine($"PunktTelefon przed Trim = {Content.PunktTelefon}");
        Content.PunktTelefon = Content.PunktTelefon?.Trim();
        Console.WriteLine($"Usunięcie białych znaków: PunktTelefon = {Content.PunktTelefon}");

        isValidate = _editContextCheck.Validate();
        if (isValidate)
        {
            try
            {
                isLoading = true;
                Console.WriteLine("EditContext Validation OK!...");
                LicenceName = await _mediator.Send(new GetLicencesByPcQuery(Content.PunktTelefon));
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Błąd: {ex.Message}");
                LicenceName = "Do tego komputera nie ma przypisanych licencji";
            }
            finally
            {
                isLoading = false;
                                StateHasChanged();
            }
        }
        else
        {
            Console.WriteLine("EditContext Validation NOT OK!...");
            LicenceName = "Błędne dane wejściowe.";
        }
        if (!isValidate)
        {
            Console.WriteLine("Validation failed. Errors:");
            foreach (var message in _editContextCheck.GetValidationMessages())
            {
                Console.WriteLine($"Validation Error: {message}");
            }
        }
    }
}