@page "/ctcrud"
@using Application.ITWarehouseCQRS.CategoryTypes
@using Application.ITWarehouseCQRS.CategoryTypes.Commands
@using Application.ITWarehouseCQRS.CategoryTypes.Queries
@using MediatR
@inject IMediator _mediator;

<h3>CategoryTypeCRUD</h3>

@code {
    private List<CategoryTypeVm> list;
    private SelectedCatTypeVm selected = new();
    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }
    private class SelectedCatTypeVm
    {
        public int id { get; set; }
    }
    private async Task RefreshData()
    {
       list = await _mediator.Send(new GetAllCategoryTypesQuery());
        // catTypesVm.CategoryTypes = list.CategoryTypes;
    }
    private async Task DeleteCatTypeVm()
    {
        int i = await _mediator.Send(new DeleteCategoryTypeCommand(selected.id));
        selected.id = 0;
        await RefreshData();
    }
    private async Task UpdateCatTypeVm()
    {
        
    }
}
