@*
    Na tej stronie pracownicy będą mogli :
    - podejrzeć swoje wyposażenie (z datami kiedy mogą wymieniać),
    - dodać wniosek o wymianę
    - złożyć nowe zamówienie
    - przeprowadzić self-inventory
    
*@
<h3>ITWarehouseForUsers</h3>

@code {

}
